.footer {
  max-width: 100vw;
  margin: 300px auto 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.footer-intro {
  color: #fff;
  text-transform: capitalize;
  white-space: nowrap;
  margin-bottom: -8px;
  margin: 0 auto -8px auto;
}

.marquee {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 2rem;
  margin-bottom: 300px;
}

.marquee::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 90vw;
  height: 2px;
  background: #1a1a1a;
  bottom: 0;
  left: 5%;
  transform: scaleX(0);
}

.marquee.active::after {
  animation: line-scroll 1.2s linear forwards;
}

.marquee-content {
  display: flex;
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  gap: 2rem;
  animation: scroll 20s linear infinite;
}

.marquee:hover .marquee-content {
  animation-play-state: paused !important;
}

.marquee-content li {
  color: #fff;
  font-size: 8rem;
  font-weight: 800;
}

.marquee-content a {
  color: #fff;
  font-size: 10rem;
  text-transform: uppercase;
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease;
}

.marquee-content a:hover {
  color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 2rem));
  }
}

.connect-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  bottom: 40px;
  left: 4.6%;
  mix-blend-mode: difference;
  gap: 8px;
  z-index: 5;
}

.connect-menu li {
  display: block;
}

.connect-menu a {
  display: block;
  color: #fff;
  cursor: pointer;
  font-weight: 300;
  padding: 5px;
  transition: transform 0.3s cubic-bezier(0.3, 1, 0.7, 1);
}

.connect-menu img {
  cursor: pointer;
}

.connect-menu a:hover {
  color: #a8a8a8;
}

.email {
  display: block;
  color: #fff;
  font-size: 1.5rem;
  margin: 0 auto 4px auto;
  transition-duration: 0.3s;
  position: relative;
}

.email:hover {
  color: #a8a8a8;
}

.email::after {
  position: absolute;
  content: "";
  display: inline-block;
  box-shadow: 0 0 0 0 rgba(33, 161, 121, 1);
  background: #21a179;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  animation: pulse-green 2s infinite;
  margin-left: 8px;
  top: 10px;
}

@keyframes pulse-green {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(33, 161, 121, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(33, 161, 121, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(33, 161, 121, 0);
  }
}

.copy {
  color: #4a4a4a;
  font-weight: 600;
  margin: 0 auto 8px auto;
  position: relative;
}
