:root {
  --light-gray: #a8a8a8;
  --medium-gray: #818181;
  --dark-gray: #1a1a1a;
  --pure-white: #fff;
  --dark-black: #000;
  --open-green: #21a179;
  --transition-duration: 0.3s;
  --animation-duration: 0.8s;
  --transition-easing: cubic-bezier(0.5, 0, 0.5, 1);
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--dark-gray);
}

::-webkit-scrollbar-track {
  background: rgb(158 158 158 / 10%);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  color: var(--dark-black);
  background: var(--dark-black);
  overflow: overlay;
}

h1,
h2,
h3,
p {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

.c-scrollbar_thumb {
  background-color: var(--pure-white);
  opacity: 0.3;
}

@media (width > 760px) {
  * {
    cursor: none;
  }
}
