:root {
  --text-color-1: #fff;
  --text-color-2: #a8a8a8;
  --text-color-3: #818181;
  --text-color-4: #1a1a1a;
  --thumb-scroll: #1a1a1a;
  --with-blend-mode: #fff;
  --with-blend-mode-2: #fff;
  --with-blend-mode-black: #000;
  --text-color-effect: rgba(255, 255, 255, 0.4);
  --bg-color: #000;
  --open-green: #21a179;
  --transition-duration: 0.3s;
  --animation-duration: 0.8s;
  --transition-easing: cubic-bezier(0.5, 0, 0.5, 1);
  --text-stroke-logo: 0.04rem;
  --text-stroke-links: 0.05rem;
  --font-weight-1: 300;
  --font-weight-2: 600;
  --font-weight-3: 700;
  --font-weight-4: 800;
  --font-weight-5: 900;
  --intro-sub-blend: multiply;

  transition-property: background-color var(--transition-duration);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-easing);
}

:root.light {
  --text-color-1: #000;
  --text-color-2: #1a1a1a;
  --text-color-3: #818181;
  --text-color-4: #000;
  --thumb-scroll: #818181;
  --with-blend-mode: #fff;
  --with-blend-mode-2: #000;
  --with-blend-mode-black: #000;
  --text-color-effect: rgba(0, 0, 0, 0.5);
  --text-stroke-links: 0.09rem;
  --bg-color: #fff;
  --open-green: #21a179;
  --font-weight-1: 600;
  --font-weight-2: 800;
  --font-weight-3: 900;
  --intro-sub-blend: light;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--thumb-scroll);
}

::-webkit-scrollbar-track {
  background: var(--bg-color);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  background: var(--bg-color);
  transition: background-color var(--transition-duration) var(--transition-easing);
}

h1,
h2,
h3,
p {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

@media (width > 760px) {
  * {
    cursor: none;
  }
}
