.header {
  max-width: 1260px;
  display: flex;
  margin: 0 auto;
}

.header .logo {
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: #fff;
  animation: logo-showup 1s forwards;
  mix-blend-mode: difference;
  color: transparent;
  position: fixed;
  left: 72px;
  top: 20px;
  z-index: 10;
  font-size: 2rem;
  font-weight: 900;
  line-height: 18px;
  letter-spacing: -4px;
  opacity: 0;
  animation-delay: 1s;
  transition: 0.5s;
}

.header .logo:hover {
  -webkit-text-stroke-width: 0;
  color: #fff;
}

@keyframes logo-showup {
  to {
    opacity: 1;
  }
}

.header .logo::after {
  content: "";
  display: inline-block;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: -7px;
  background-color: #4daa57;
  box-shadow: 0 0 0 0 rgb(77, 170, 87, 1);
  transform: scale(1);
  animation: pulse-green 2s infinite;
  z-index: 15;
}

@keyframes pulse-green {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(77, 170, 87, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(77, 170, 87, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(77, 170, 87, 0);
  }
}
