.header {
  width: 90vw;
  height: 0;
  display: flex;
  margin: 40px auto;
  position: fixed !important;
  inset: 0;
  z-index: 5;
  mix-blend-mode: difference;
  justify-content: space-between;
}

.header .logo {
  height: 100px;
  width: 100px;
  display: block;
  padding: 20px;
  margin-top: -10px;
  margin-left: -16px;
  -webkit-text-stroke-width: 0.04rem;
  -webkit-text-stroke-color: var(--pure-white);
  color: transparent;
  font-size: 2.3rem;
  font-weight: 900;
  line-height: 1.3rem;
  letter-spacing: -0.25rem;
  transition: transform var(--transition-duration) cubic-bezier(0.3, 1, 0.7, 1);
  animation: logo-fade-in var(--animation-duration) var(--transition-easing) forwards;
  animation-delay: 1.5s;
  opacity: 0;
}

@keyframes logo-fade-in {
  to {
    opacity: 1;
  }
}

.main-menu {
  display: flex;
  gap: 24px;
  padding: 0;
  margin-top: -12px;
  position: relative;
}

.main-menu::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 32px;
  bottom: -46px;
  left: -2px;
  background: var(--dark-black);
}

.main-menu::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 24px;
  top: -22px;
  left: -2px;
  background: var(--dark-black);
  z-index: 1;
}

.main-menu a {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  transform: translateY(25px);
  animation: menu-slide-up var(--animation-duration) var(--transition-easing) forwards;
  position: relative;
  letter-spacing: 4px;
  color: var(--light-gray);
  padding: 5px 0;
}

@keyframes menu-slide-up {
  to {
    transform: translateY(0px);
  }
}

.header li:nth-child(1) a {
  animation-delay: 0.2s;
}

.header li:nth-child(2) a {
  animation-delay: 0.3s;
}

.header li:nth-child(3) a {
  animation-delay: 0.5s;
}

.main-menu li:nth-child(1) a::after,
.main-menu li:nth-child(2) a::after,
.main-menu li:nth-child(3) a::after {
  content: attr(data-link);
  display: inline-block;
  position: absolute;
  inset: 30px 0;
  color: var(--pure-white);
  width: 100%;
  height: 100%;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-easing);
  opacity: 0;
}

.main-menu li {
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-easing);
}

.main-menu li:hover {
  transform: translateY(-25px);
}

.main-menu li:hover a::after {
  opacity: 1;
}
