.intro {
  display: grid;
  padding: 0;
}

.intro-grid {
  max-width: 100vw !important;
  min-height: 100vh !important;
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: 2fr 1fr 4fr;
  grid-template-rows: 1fr 2fr;
  position: relative;
  transition: 0.7s;
  overflow: hidden;
}

.intro-grid:hover {
  background: #ce1483;
  outline: none;
}

.intro-grid h1 {
  grid-row: 2;
  grid-column: 2 / 4;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 172px;
  line-height: 126px;
  text-wrap: wrap;
  animation: unwrap-title 1s ease-in-out forwards;
  color: #fff;
}

.intro-grid:hover > h1 {
  color: #000;
}

@keyframes unwrap-title {
  0% {
    letter-spacing: -15px;
    opacity: 0;
  }

  100% {
    letter-spacing: 0;
    opacity: 1;
  }
}

.intro-grid h2 {
  grid-column: 1 / 3;
  grid-row: 1;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 88px;
  text-wrap: nowrap;
  align-self: end;
  color: #fff;
  line-height: 80px;
  animation: test 1s ease-in-out forwards;
  transform: translateX(-10px);
  opacity: 0;
}

@keyframes test {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.intro-grid:hover > h2 {
  color: #000;
}

.intro-menu {
  grid-row: 4;
  grid-column: 3;
  align-self: end;
  justify-self: end;
  text-align: end;
  /* margin-bottom: -5px; */
  position: absolute;
  offset: 0;
  /* right: 0;
  bottom: 0; */
}

.intro-menu a {
  display: block;
  font-size: 4.2rem;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 56px;
  transition: 0.7s;
  animation: intro-menu-load 0.8s forwards;
  transform: scale(1.15);
  color: #fff;
}

.intro-menu a:hover {
  transform: scale(1.1);
  color: #ce1483 !important;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #000;
  transform-origin: bottom;
  animation: none;
}

.intro-grid:hover > .intro-menu a {
  color: #000;
}

.intro-menu li:nth-child(1) a {
  animation-delay: 0s;
}

.intro-menu li:nth-child(2) a {
  animation-delay: 0.2s;
}

.intro-menu li:nth-child(3) a {
  animation-delay: 0.4s;
}

@keyframes intro-menu-load {
  to {
    transform: scale(1) translateY(0px);
  }
}

.intro-grid .intro-img-container {
  grid-row: 2;
  margin: 0;
  padding: 0;
  align-self: end;
}

.intro-grid img {
  object-fit: cover;
  height: 100%;
  transform: scale(0);
  animation: scale-load 1.3s forwards;
  transform-origin: left bottom;
}

@keyframes scale-load {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (width < 1400px) {
  .intro-grid {
    max-width: 100vw !important;
    max-height: 100vh !important;
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: 2fr 1fr 4fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
    transition: 0.7s;
    overflow: hidden;
  }

  .intro-grid h1 {
    font-weight: 900;
    font-size: 142px;
    line-height: 106px;
  }

  @keyframes unwrap-title {
    0% {
      letter-spacing: -15px;
      opacity: 0;
    }

    100% {
      letter-spacing: 0;
      opacity: 1;
    }
  }

  .intro-grid h2 {
    font-weight: 900;
    font-size: 68px;
    text-wrap: nowrap;
    line-height: 60px;
  }

  .intro-menu a {
    font-size: 3.8rem;
    font-weight: 800;
    line-height: 48px;
  }
}
