.intro {
  display: grid;
}

.mobile-h1 {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 800;
  display: none;
  opacity: 0;
  animation: fade-in var(--transition-duration) var(--transition-easing) forwards;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

.intro-grid {
  max-width: 100vw !important;
  overflow: hidden !important;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  position: relative;
}

.intro-title-container {
  height: fit-content;
  grid-column: 2;
  grid-template-rows: repeat(2, 1fr);
  position: relative;
  margin: 0;
  padding: 0;
}

.title-character {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 13rem;
  line-height: 0.73;
  letter-spacing: -0.7rem;
  color: var(--text-color-1);
  user-select: none;
  padding: 0;
  margin: 0;
  display: inline;
  white-space: nowrap;
}

.first-line,
.second-line {
  display: flex;
  max-height: max-content;
}

.first-line .title-character:nth-child(1) {
  transform: translateX(-80px);
  animation: slide-back 1s var(--transition-easing) forwards;
}

.first-line .title-character:nth-child(2) {
  transform: scaleX(4);
  animation: scale-back 1s var(--transition-easing) forwards;
}

.first-line .title-character:nth-child(3) {
  transform: translateX(130px);
  animation: slide-back 1s var(--transition-easing) forwards;
}

@keyframes scale-back {
  to {
    transform: scaleX(1);
  }
}

@keyframes slide-back {
  to {
    transform: translateX(0);
  }
}

.second-line::after {
  content: "";
  display: inline-block;
  position: absolute;
  background: var(--bg-color);
  width: 101%;
  height: 220px;
  left: 0;
  bottom: -225px;
  z-index: 3;
  mix-blend-mode: var(--blend-mode);
  animation: remove 0s forwards;
  animation-delay: 2s;
}

@keyframes remove {
  to {
    opacity: 0;
  }
}

.second-line .title-character {
  transform: translateY(160px);
  animation: slide-up 0.9s var(--transition-easing) forwards;
}

.second-line .title-character:nth-child(1) {
  animation-delay: 0.1s;
}

.second-line .title-character:nth-child(2) {
  animation-delay: 0.2s;
}

.second-line .title-character:nth-child(3) {
  animation-delay: 0.3s;
}

.second-line .title-character:nth-child(4) {
  animation-delay: 0.4s;
}
.second-line .title-character:nth-child(5) {
  animation-delay: 0.5s;
}
.second-line .title-character:nth-child(6) {
  animation-delay: 0.6s;
}

.second-line .title-character:nth-child(7) {
  animation-delay: 0.7s;
}
.second-line .title-character:nth-child(8) {
  animation-delay: 0.8s;
}
.second-line .title-character:nth-child(9) {
  animation-delay: 0.9s;
}

@keyframes slide-up {
  to {
    transform: translateY(0);
  }
}

.subtitle {
  grid-column: 2;
  grid-row: 1;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.5rem;
  align-self: end;
  color: var(--bg-color);
  mix-blend-mode: var(--intro-sub-blend);
  z-index: 11;
  margin-left: 10px;
}

@media (width < 1410px) {
  .title-character {
    font-size: 10rem;
    line-height: 7.5rem;
    letter-spacing: -0.5rem;
  }

  .second-line::after {
    height: 180px;
    top: 240px;
  }

  .subtitle {
    font-size: 1.6rem;
  }
}

@media (width < 1080px) {
  .title-character {
    font-size: 8rem;
    line-height: 5.8rem;
  }

  .first-line .title-character:nth-child(1) {
    transform: translateX(-60px);
  }

  .first-line .title-character:nth-child(2) {
    transform: scaleX(3);
  }

  .first-line .title-character:nth-child(3) {
    transform: translateX(80px);
  }

  .second-line .title-character {
    transform: translateY(140px);
  }

  .second-line::after {
    height: 135px;
    top: 190px;
  }

  .subtitle {
    font-size: 1.2rem;
  }
}

@media (width < 860px) {
  .intro-grid {
    max-width: 100vw !important;
  }

  .title-character {
    font-size: 7rem;
    line-height: 5.3rem;
  }

  .second-line .title-character {
    transform: translateY(120px);
  }

  .second-line::after {
    height: 120px;
    top: 170px;
  }

  .first-line .title-character:nth-child(1) {
    transform: translateX(-40px);
  }

  .first-line .title-character:nth-child(2) {
    transform: scaleX(2);
  }

  .first-line .title-character:nth-child(3) {
    transform: translateX(40px);
  }
}

@media (width < 780px) {
  .intro-grid {
    display: none;
  }

  .mobile-h1 {
    display: block;
    margin-top: 40px;
  }
}
