.intro {
  display: grid;
}

.intro-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  position: relative;
  max-width: 100vw;
  height: 100vh;
}

.intro-title-container {
  grid-column: 2;
  grid-template-rows: repeat(2, 1fr);
  position: relative;
}

.title-character {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 13rem;
  line-height: 0.73;
  letter-spacing: -1rem;
  color: var(--pure-white);
  user-select: none;
  padding: 0;
  margin: 0;
  display: inline;
  white-space: nowrap;
}

.first-line,
.second-line {
  display: flex;
  max-height: max-content;
}

.first-line .title-character:nth-child(1) {
  transform: translateX(-150px);
  animation: slide-back 1s var(--transition-easing) forwards;
}

.first-line .title-character:nth-child(2) {
  transform: scaleX(4);
  animation: scale-back 1s var(--transition-easing) forwards;
}

.first-line .title-character:nth-child(3) {
  transform: translateX(200px);
  animation: slide-back 1s var(--transition-easing) forwards;
}

@keyframes scale-back {
  to {
    transform: scaleX(1);
  }
}

@keyframes slide-back {
  to {
    transform: translateX(0);
  }
}

.second-line::after {
  content: "";
  display: inline-block;
  position: absolute;
  background: var(--dark-black);
  width: 105%;
  height: 75%;
  left: -2.5%;
  bottom: -78%;
  z-index: 2;
  animation: remove 0s forwards;
  animation-delay: 1.5s;
}

@keyframes remove {
  to {
    display: none;
  }
}

.second-line .title-character {
  transform: translateY(160px);
  animation: slide-up 0.9s var(--transition-easing) forwards;
}

.second-line .title-character:nth-child(1) {
  animation-delay: 0.1s;
}

.second-line .title-character:nth-child(2) {
  animation-delay: 0.2s;
}

.second-line .title-character:nth-child(3) {
  animation-delay: 0.3s;
}

.second-line .title-character:nth-child(4) {
  animation-delay: 0.4s;
}
.second-line .title-character:nth-child(5) {
  animation-delay: 0.5s;
}
.second-line .title-character:nth-child(6) {
  animation-delay: 0.6s;
}

.second-line .title-character:nth-child(7) {
  animation-delay: 0.7s;
}
.second-line .title-character:nth-child(8) {
  animation-delay: 0.8s;
}
.second-line .title-character:nth-child(9) {
  animation-delay: 0.9s;
}

@keyframes slide-up {
  to {
    transform: translateY(0);
  }
}

.subtitle {
  grid-column: 2;
  grid-row: 1;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.5rem;
  align-self: end;
  color: var(--dark-black);
  mix-blend-mode: multiply;
  z-index: 11;
  margin-left: 10px;
}

@media (width < 1400px) {
  .title-character {
    font-size: 10rem;
    line-height: 7.5rem;
  }

  .second-line::after {
    bottom: -68%;
  }

  .subtitle {
    font-size: 1.6rem;
  }
}

@media (width < 1040px) {
  .title-character {
    font-size: 8rem;
    line-height: 5.8rem;
  }

  .second-line::after {
    bottom: -48%;
  }

  .subtitle {
    font-size: 1.2rem;
  }
}
