.work {
  width: 90vw;
  /* background: lightcoral; */
  margin: 160px auto;
}

.work-container {
  position: relative;
  padding-top: 24px;
  margin-bottom: 40px;
}

.work-container a {
  font-size: 7rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  text-wrap: nowrap;
  transition: 0.5s;
  /* line-height: 10rem; */
}

.work-container a:hover {
  color: #a8a8a8;
}

.work-name {
  transition: 0.5s;
}

.work-container a:hover .work-name {
  -webkit-text-stroke-width: 0.05rem;
  -webkit-text-stroke-color: #fff;
  color: transparent;
}

.work-container p {
  font-weight: 600;
  color: #fff;
  position: absolute;
  top: 0;
}

.work-container .work-slash {
  font-weight: 100;
}

.work-container .work-year {
  font-size: 1rem;
  font-weight: 600;
}
