.work {
  margin-top: 160px;
}

.work-marquee {
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-box {
  overflow: hidden;
  white-space: nowrap;
  padding-top: 1rem;
  position: relative;
  margin-bottom: 48px;
}

.work-box [data-anima="marquee"] {
  color: #fff;
  font-size: 8rem;
  text-transform: uppercase;
  font-weight: 800;
  display: inline-block;
  margin: 0;
  padding: 0 5%;
  will-change: transform;
  line-height: 130px;
  transition: 0.5s;
}

.work-box [data-anima="marquee"]:hover {
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #fff;
  color: transparent;
}

.work-box span {
  color: #fff;
  position: absolute;
  left: 5%;
  top: 0;
  font-weight: 600;
  transition: 0.5s;
  z-index: 5;
}

.work-box span:hover {
  color: #999;
}
