.custom-cursor {
  width: 14px;
  height: 14px;
  background-color: var(--color-difference);
  border-radius: 50%;
  position: absolute;
  mix-blend-mode: difference;
  pointer-events: none;
  opacity: 0;
  z-index: 10;
  transition: transform 0.7s ease;
}

.custom-cursor.active {
  display: block;
  opacity: 1;
  transform: translate(-50%, -50%);
  position: fixed;
}

.custom-cursor.active.scale {
  transform: scale(3.5);
  background: var(--color-difference);
}

.custom-cursor.active.scale2 {
  transform: scale(6);
  background: var(--color-difference);
}

@media (width < 780px) {
  .custom-cursor.active {
    display: none;
  }
}
