.footer {
  max-width: 100vw;
  margin: 200px auto 0 auto;
  position: relative;
  display: none;
  flex-direction: column;
}

.footer.active {
  display: flex;
}

.footer-intro {
  color: var(--text-color-1);
  text-transform: capitalize;
  white-space: nowrap;
  margin-bottom: -8px;
  margin: 0 auto -8px auto;
  font-weight: var(--font-weight-1);
}

.social-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  bottom: 40px;
  left: 4.6%;
  mix-blend-mode: difference;
  gap: 8px;
  z-index: 5;
}

.social-links li {
  --delay: 0.3s;
  display: block;
  position: relative;
  opacity: 0;
  animation-name: con-menu-fade-in;
  animation-duration: var(--animation-duration);
  animation-timing-function: var(--transition-easing);
  animation-fill-mode: forwards;
}

.social-links li:nth-child(1) {
  animation-delay: 1.2s;
}

.social-links li:nth-child(2) {
  animation-delay: 1.4s;
}

.social-links li:nth-child(3) {
  animation-delay: 1.6s;
}

@keyframes con-menu-fade-in {
  to {
    opacity: 1;
  }
}

.social-links a {
  display: block;
  color: var(--with-blend-mode);
  cursor: pointer;
  font-weight: 600;
  padding: 5px;
  transition: transform 0.3s cubic-bezier(0.3, 1, 0.7, 1);
}

.social-links img {
  cursor: pointer;
}

.social-links a:hover {
  color: var(--with-blend-mode);
}

.email {
  display: block;
  color: var(--text-color-1);
  font-size: 1.5rem;
  margin: 0 auto 4px auto;
  transition-duration: var(--transition-duration);
  position: relative;
  font-weight: var(--font-weight-1);
}

.email b {
  display: none;
}

.email:hover {
  color: var(--text-color-3);
}

.email::after {
  position: absolute;
  content: "";
  display: inline-block;
  box-shadow: 0 0 0 0 rgba(33, 161, 121, 1);
  background: var(--open-green);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  animation: pulse-green 2s infinite;
  margin-left: 8px;
  top: 10px;
}

@keyframes pulse-green {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(33, 161, 121, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(33, 161, 121, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(33, 161, 121, 0);
  }
}

.copy {
  color: #4a4a4a;
  font-weight: 600;
  margin: 0 auto 8px auto;
  position: relative;
}

.footer-intro-mobile {
  display: none;
}

@media (width < 780px) {
  .footer {
    max-width: 100vw;
    margin: 40px auto 0 auto;
    overflow: hidden;
  }

  .footer-intro {
    font-size: 0.75rem;
  }
}

@media (width < 580px) {
  .social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: unset;
    bottom: 40px;
    left: 4.6%;
    mix-blend-mode: difference;
    gap: 8px;
    z-index: 5;
    margin-bottom: 40px;
  }
}

@media (width < 480px) {
  .footer-intro {
    display: none;
  }
}
