.header {
  position: fixed;
  inset: 16px 0;
  z-index: 5;
  width: 100%;
  mix-blend-mode: difference;
  height: fit-content;
}

.header-content {
  --animation-duration: 1.2s;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-120px);
  animation: nav-slide-down var(--animation-duration) cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards;
  animation-delay: 1.7s;
  opacity: 0;
}

@keyframes nav-slide-down {
  to {
    transform: none;
    opacity: 1;
  }
}

.logo {
  -webkit-text-stroke-width: var(--text-stroke-width-1);
  -webkit-text-stroke-color: var(--color-difference);
  padding: 16px;
  color: transparent;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.1rem;
  letter-spacing: -0.1rem;
  cursor: pointer;
  box-sizing: border-box;
}

.logo span {
  display: block;
  transition: transform 0.3s cubic-bezier(0.3, 1, 0.7, 1);
  pointer-events: none;
  color: inherit;
}

.header-content nav ul {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

@keyframes main-slide-down {
  to {
    opacity: 1;
    transform: none;
  }
}

.header-content nav a {
  display: inline-block;
  position: relative;
  color: var(--color-difference);
  padding: 1rem;
  cursor: pointer;
}

.header-content nav span {
  display: block;
  transition: transform 0.3s cubic-bezier(0.3, 1, 0.7, 1);
  pointer-events: none;
  color: inherit;
}

.header-content nav span::after {
  content: "";
  display: block;
  background: var(--color-difference);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  left: 45%;
  top: 40px;
  transform: scale(0);
  transition: transform var(--transition-duration) cubic-bezier(0.3, 1, 0.7, 1);
}

.header-content nav a:hover span::after {
  transform: scale(1);
}
