.header {
  position: fixed;
  inset: 0;
  z-index: 5;
  width: 100%;
  mix-blend-mode: difference;
  height: fit-content;
}

.header-content {
  --animation-duration: 1.2s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-120px);
  animation: nav-slide-down var(--animation-duration) cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards;
  animation-delay: 1.7s;
}

@keyframes nav-slide-down {
  to {
    transform: none;
    opacity: 1;
  }
}

.logo {
  padding: 16px;
  color: var(--color-difference);
  font-size: clamp(0.8rem, 1.5cqi, 1.5rem);
  font-weight: 500;
  cursor: pointer;
  width: fit-content;
}

.logo > span {
  display: flex;
  transition: transform 0.3s cubic-bezier(0.3, 1, 0.7, 1);
  pointer-events: none;
  color: inherit;
  text-wrap: nowrap;
}

.logo .hide__logo {
  display: inline-block;
  transition: 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  overflow: hidden;
  max-width: 0;
}

.logo:hover .hide__logo {
  max-width: 100%;
  opacity: 1;
}

.header-content nav ul {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

@keyframes main-slide-down {
  to {
    opacity: 1;
    transform: none;
  }
}

.header-content nav a {
  display: inline-block;
  position: relative;
  color: var(--color-difference);
  padding: 1rem;
  cursor: pointer;
}

.header-content nav span {
  display: block;
  transition: transform 0.3s cubic-bezier(0.3, 1, 0.7, 1);
  pointer-events: none;
  color: inherit;
}

.header-content nav span::after {
  content: "";
  display: block;
  background: var(--color-difference);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  left: 43%;
  bottom: -16px;
  transform: scale(0);
  transition: transform var(--transition-duration) cubic-bezier(0.3, 1, 0.7, 1);
}

.header-content nav a:hover span::after {
  transform: scale(1);
}
