.header {
  width: 90vw;
  height: fit-content;
  display: flex;
  margin: 40px auto;
  position: fixed;
  inset: 0;
  z-index: 6;
  justify-content: space-between;
  background-color: transparent;
  mix-blend-mode: difference;
}

.logo {
  transition: transform var(--transition-duration) cubic-bezier(0.3, 1, 0.7, 1);
  animation: logo-fade-in var(--animation-duration) var(--transition-easing) forwards;
  -webkit-text-stroke-width: var(--text-stroke-logo);
  -webkit-text-stroke-color: var(--with-blend-mode);
  width: fit-content;
  height: fit-content;
  padding: 4px;
  color: transparent;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1rem;
  letter-spacing: -0.2rem;
  cursor: pointer;
  animation-delay: 3s;
  opacity: 0;
}

@keyframes logo-fade-in {
  to {
    opacity: 1;
  }
}

.main-menu {
  display: flex;
  gap: 24px;
  padding: 0;
  margin-top: -12px;
  position: relative;
}

.main-menu li {
  --delay: 2s;
  opacity: 0;
  animation: main-fade-in var(--animation-duration) var(--transition-easing) forwards;
}

.main-menu li:nth-child(1) {
  animation-delay: calc(var(--delay) + 0s);
}

.main-menu li:nth-child(2) {
  animation-delay: calc(var(--delay) + 0.15s);
}
.main-menu li:nth-child(3) {
  animation-delay: calc(var(--delay) + 0.3s);
}

@keyframes main-fade-in {
  to {
    opacity: 1;
  }
}

.main-menu a {
  --transition-duration: 0.3s;
  display: block;
  font-size: 1rem;
  font-weight: 500;
  text-transform: lowercase;
  position: relative;
  letter-spacing: 4px;
  color: var(--with-blend-mode);
  padding: 5px 0;
  cursor: pointer;
  transition: transform var(--transition-duration) cubic-bezier(0.3, 1, 0.7, 1);
}

.main-menu a::after {
  content: "";
  display: inline-block;
  background: var(--with-blend-mode);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  inset: 40px 42%;
  transform: scale(0);
  transition: transform var(--transition-duration) cubic-bezier(0.3, 1, 0.7, 1);
}

.main-menu a:hover::after {
  transform: scale(1);
}

@media (width < 580px) {
  .logo {
    animation-delay: 0s;
  }
}
