.light-dark-toggle {
  --animation-duration: 1.2s;
  z-index: 6;
  position: fixed;
  background-color: var(--with-blend-mode);
  width: 18px;
  height: 30px;
  border-radius: 50px;
  right: 5%;
  bottom: 40px;
  mix-blend-mode: difference;
  transition-property: transform;
  transition: all 0.3s !important;
  cursor: pointer;
  animation-name: footer-slide-up;
  animation-duration: var(--animation-duration);
  animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation-fill-mode: forwards;
  animation-delay: 1.7s;
  transform: translateY(100px);
  opacity: 0;
}

.light-dark-toggle::after {
  content: "";
  display: inline-block;
  background-color: var(--with-blend-mode-black);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  left: 1px;
  top: 1px;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-easing);
}

.light-dark-toggle.active {
  background: var(--with-blend-mode);
}

.light-dark-toggle.active::after {
  transform: translateY(12px);
}

@media (width <= 580px) {
  .light-dark-toggle {
    display: none;
  }
}
