.marquee {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 200px;
  margin-bottom: 200px;
}

.marquee::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 90vw;
  height: 1px;
  background: var(--color-00);
  bottom: 0;
  left: 5%;
  transform: scaleX(0);
  transition: transform 1.5s;
}

.marquee.active-line::after {
  transform: scaleX(1);
}

.marquee ul {
  display: flex;
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 100%;
  gap: 200px;
  animation: scroll 20s linear infinite;
}

.marquee:hover ul {
  animation-play-state: paused !important;
}

.marquee ul li {
  color: var(--color-00);
  position: relative;
}

.marquee ul li::after {
  content: "";
  display: inline-block;
  width: 2.8vw;
  height: 2.8vw;
  border-radius: 50%;
  background: var(--color-00);
  position: absolute;
  top: 40%;
  right: -124px;
}

.marquee ul a {
  color: var(--color-00);
  cursor: pointer;
  transition-duration: var(--transition-duration);
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.marquee ul a:hover {
  color: transparent;
  -webkit-text-stroke-width: var(--text-stroke-width-2);
  -webkit-text-stroke-color: var(--color-00);
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 200px));
  }
}

@media (width <= 780px) {
  .marquee ul li::after {
    width: 3.5vw;
    height: 3.5vw;
  }
}
