[data-menu="button"] {
  display: none;
}

@media (width < 576px) {
  [data-menu="button"] {
    border: none;
    display: block;
    padding: 14px;
    display: flex;
    z-index: 10;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    align-self: start;
    transition: all 0.3s cubic-bezier(0.3, 1, 0.7, 1);
    position: relative;
  }

  [data-menu="button"]::after {
    content: "";
    display: inline-block;
    background-color: var(--with-blend-mode);
    width: 22px;
    height: 2px;
    transition: transform 0.2s;
    position: absolute;
    inset: 35% 12%;
  }

  [data-menu="button"]::before {
    content: "";
    display: inline-block;
    background-color: var(--with-blend-mode);
    width: 22px;
    height: 2px;
    transition: transform 0.2s;
    position: absolute;
    bottom: 35%;
    left: 12%;
  }

  [data-menu="button"].active::after {
    transform: rotate(-40deg);
    top: 48%;
  }

  [data-menu="button"].active::before {
    transform: rotate(40deg);
    bottom: 48%;
  }

  .main-menu {
    padding-left: 32px;
    overflow: hidden;
    display: none;
    position: absolute;
    flex-direction: column;
    top: 60px;
    right: -11px;
    animation-delay: unset;
    transition: all 0.3s;
  }

  .main-menu.active {
    display: flex;
  }

  .main-menu li {
    --delay: 0s;
    text-align: end;
    animation-delay: unset;
    transform: translateY(150px);
  }

  .main-menu a {
    display: inline;
    width: fit-content;
    animation-delay: unset;
    /* font-size: 1.5rem; */
  }

  .main-menu a::after {
    inset: 12px -20px;
  }

  .main-menu a:hover::after {
    transform: scale(1);
  }
}
