.font-xxl {
  text-transform: uppercase;
  font-weight: 600;
  font-size: clamp(6rem, 16.5cqi, 14.3rem);
  line-height: 0.85;
}

.font-xl {
  font-size: clamp(6rem, 10cqi, 10rem);
  text-transform: uppercase;
  font-weight: 700;
}

.font-l {
  font-size: clamp(4rem, 8cqi, 9rem);
  font-weight: 800;
  text-transform: uppercase;
  -webkit-text-stroke-width: var(--text-stroke-links);
  -webkit-text-stroke-color: var(--text-color-1);
  line-height: 0.95;
}

.font-ml {
  font-size: clamp(0.85rem, 2cqi, 2rem);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.8px;
}

.font-m {
  font-size: clamp(0.75rem, 1.25cqi, 0.85rem);
  font-weight: 300;
  letter-spacing: 1.2px;
  text-transform: lowercase;
}

.font-m-2 {
  font-size: clamp(0.7rem, 1.25cqi, 0.85rem);
  font-weight: 300;
  text-transform: capitalize;
  font-weight: var(--font-weight-1);
}

.font-m-3 {
  font-size: clamp(0.7rem, 1.25cqi, 1rem);
  font-weight: 600;
  text-transform: uppercase;
  font-weight: var(--font-weight-2);
}

.font-s {
  font-weight: var(--font-weight-1);
  letter-spacing: 1.1px;
  font-size: clamp(0.5rem, 1.2cqi, 1rem);
}
