#hero {
  height: 100%;
  width: 100%;
  display: flex;
}

.hero__container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.hero__title__header {
  display: flex;
  flex-wrap: wrap;
  max-height: max-content;
  margin: 0;
  padding: 0;
  overflow: hidden;
  animation: slide__up 5s cubic-bezier(0.14, 0, 0.035, 1) forwards;
  /* border: 1px solid red; */
}

@keyframes slide__up {
  from {
    transform: translate3d(0, 15vh, 0);
  }

  to {
    transform: none;
  }
}

.hero__title__char {
  --stager: 0.15s;
  --animation-delay: 0.5s;
  --animation-duration: 1.5s;
  display: flex;
  color: var(--color-00);
  user-select: none;
  transition: all 0.4s;
  animation-name: char-slid-up;
  animation-duration: var(--animation-duration);
  animation-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
  animation-fill-mode: forwards;
  transform: translateY(240px);
  animation-delay: calc(var(--animation-delay) + var(--stager) * var(--i));
}

@keyframes char-slid-up {
  to {
    transform: none;
  }
}
